
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    font-size: 15px;
    font-family: 'Outfit', 'sans-serif';
}

/* Mobile */
@media screen and (min-width:375px) {
    .wrapper {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns:[border-left] 5% [border-left-end center-start] auto [center-end border-right-start] 5% [end];
        height: 100vh;
        width: 100vw;
    }
}

/* Desktop */
@media screen and (min-width:1440px) {
    .wrapper {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns:[border-left] auto [border-left-end center-start] 20% [center-end border-right-start] auto [end];
        height: 100vh;
        width: 100vw;
    }
}

.panel {
    grid-column: center;
    grid-row: 2 / span 3;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;

    display: grid;
    grid-template-rows: [top-start] 60% [top-end txt-upper-start] auto [txt-upper-end txt-lower-start] auto [end];
    height: 100%;
    padding: 15px;
}

.panel-top {
    grid-row: top-start;
    border-radius: 5%;
}

.panel-top img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.panel-txt-upper {
    grid-row: txt-upper-start;
    text-align: center;
    align-self:last baseline;
    font-weight: 700;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.panel-txt-lower {
    grid-row: txt-lower-start;
    text-align: center;
    align-self: center;
    font-weight: 400;
    font-size: 17.5px;
    padding-left: 15px;
    padding-right: 15px;
    color: hsl(220, 15%, 55%);
}